:root {
  --brand-color: #4f4f4f;
  --brand-border: #ccc;
  --brand-font: "Montserrat", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--brand-font);
  color: var(--brand-color);
}
input {
  font-family: var(--brand-font);
}
header{
  display: grid;
  grid-template-columns: 20% 70%;
  align-items: center;
    justify-content: center;
    text-align: center;
}
.app__container {
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.mileage__container {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 0.2rem #ccc;
}
.mileage__form {
  display: grid;
  grid-template-columns: 1fr;
}
.mileage__form input {
  margin: 5px 0 20px 0;
  padding: 10px;
  border: 1px solid var(--brand-border);
}
.mileage__calcultion-btn {
  padding: 10px 20px;
}

.mileage__results{
  margin: 20px 0;
  font-weight: 700;
}
